.container__flatbar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 80%;
  align-items: center;
}

.bar {
  height: 0.3rem;
  width: 100%;
  background-color: rgb(241, 241, 241);
  border-radius: 20px;
  border: none;
}

.bar-base {
  height: 100%;
  background-color: transparent;
  border-radius: 20px;
  border: none;
}

.bar-final {
  height: 100%;
  background-color: #ff613e;
  border-radius: 20px;
  border: none;
  position: relative;
  animation: progress 0.7s ease-in-out;
}

.bar-final span {
  width: 2rem;
  background-color: #ff613e;
  color: #fff;
  font-family: "Lato", sans-serif;
  padding: 0.3rem;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 1px;
  position: absolute;
  border-radius: 8px;
  left: 95.5%;
  bottom: 0.8rem;
}

.bar-skill-icon {
  height: 2rem;
  width: 2rem;
}

/* tooltip
.bar-final span::before {
  content: "";
  height: 1rem;
  width: 1rem;
  background-color: aqua;
} */

/* animation for bar */
@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
