.container__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 8rem;
  justify-content: space-between;
  background-color: transparent;
  position: fixed;
  z-index: 5;
  transition: 0.3s;
}

.navlinks {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style-type: none;
  align-items: center;
}

.link {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #2d2d2d;
}

.dark-mode-btn {
  display: grid;
  place-items: center;
  cursor: pointer;
  background-color: transparent;
  height: 100%;
  margin-top: 0;
  animation: slideFromRight 0.8s ease-in-out forwards;
}

.dark-mode {
  height: 100%;
  width: 1.5rem;
  color: #2d2d2d;
  display: grid;
  place-items: center;
}

.container__header > p {
  font-family: "Lobster", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 2px;
  transition: 0.1s;
  animation: slideFromLeft 0.8s ease-in-out forwards;
}

.sticky-header {
  padding: 0.4rem 8rem;
  background-color: #212121;
  color: #fff;
  z-index: 5;
}

.sticky-link {
  color: #fff;
}

.sticky-dark-mode {
  color: #fff;
}

.sticky-header > p {
  font-size: 1.8rem;
}

.container__hamburger {
  display: flex;
  flex-direction: row;
  visibility: hidden;
  display: none;
  animation: slideFromDown 0.9s ease-in-out forwards;

  z-index: 5;
}

.ham-btn {
  background-color: transparent;
  padding: 0.3rem;
  margin-top: 0;
  display: grid;
  place-items: center;
  transition: all 0.5s ease-in-out;
}

.ham-btn-icon {
  color: #212121;
  height: 1.5rem;
  width: 1.5rem;
}

.navlinks li button {
  margin-top: 0;
  background-color: transparent;
  padding: 0.1rem 0.2rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  border-radius: 0px;
  animation: slideFromDown 0.6s ease-in-out forwards;
  opacity: 0;
}

.navlinks li button hr {
  height: 0.16rem;
  background-color: #212121;
  width: 0%;
  border: none;
}

@keyframes buttonHoverBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromDown {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 22.5em) {
  .container__header {
    padding: 0.6rem 2rem;
    align-items: center;
    z-index: 5;
  }

  .sticky-header {
    padding: 0.2rem 2rem;
  }

  .navbar {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    height: 100vh;
    visibility: hidden;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 0;

    transform: translateY(50%);
    transition: all 0.3s ease-in-out;
    opacity: 0;
  }

  .navlinks {
    flex-direction: column;
    padding: 1rem;
  }

  .container__header p {
    font-size: 2rem;
    font-weight: 600;
    order: 2;
  }

  .container__hamburger {
    visibility: visible;
    display: block;
    order: 3;
  }

  .dark-mode-btn {
    order: 1;
  }

  .navbar-active {
    transform: translateY(0);
    visibility: visible;
    pointer-events: all;
    opacity: 1;
  }

  .btn-hire-me {
    background-color: #2d2d2d;
    padding: 0.5rem;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
  }
}
